.containerVR {
    height: 911px;
    width: 100%;
    background-color: var(--main-bg);
    color: #fff;
    padding: 32px;
}

.searchChat-subtitle{
    font-size: 16px;
    padding: 32px 0;
}
.searchChat-container{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
