.container {
    height: 100vh;
    width: 100vw;
    background-color: var(--main-bg);
    color: #fff;
    padding: 32px;
}

.searchChat-subtitle{
    font-size: 16px;
    padding: 32px 0;
}
.searchChat-container{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.searchChat-container p{
    margin-bottom: 10px;
}